@keyframes visibility {
  to {
    opacity: 0;
  }
}
@keyframes txt {
  50% {
    opacity: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
  50% {
    transform: rotate(180deg);
    border-top-color: #FF79DA;
    border-bottom-color: #FF79DA;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: #99E2D0;
    border-bottom-color: #99E2D0;
  }
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

h1, h2 {
  font-family: "Shrikhand", cursive;
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  font-weight: 900;
}

h3 {
  font-family: "Shrikhand", cursive;
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 900;
}

p, i, button {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.8rem, 4vw, 2.5rem);
}

img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: #1c1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: visibility 3s ease-in-out forwards;
}
.loader__txt {
  font-size: 30px;
  letter-spacing: 1px;
  color: #000000;
  animation: txt 2s linear infinite;
}
.loader__ring {
  position: absolute;
  width: 210px;
  height: 210px;
  border-radius: 50%;
}
.loader__ring::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 10px solid transparent;
  animation: rotate 1s linear infinite;
}

.header-logo {
  height: 80px;
  width: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.591);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-location {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.1019607843);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-location__logo {
  margin-right: 20px;
}

.main-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.0549019608);
}
.main-description__text {
  margin: 15px 0 30px;
}
.main-description__btn {
  padding: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to bottom, #FF79DA, green 80%);
}

.main-process {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px 40px;
}
.main-process h2 {
  align-self: flex-start;
  margin-bottom: 20px;
}

.main-process__step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  width: 95%;
  max-width: 691px;
  margin-bottom: 20px;
  padding: 15px 0;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.231);
}
.main-process__step figure {
  margin-right: 5%;
}
.main-process__step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  background-color: #9356DC;
}

.main-restaurant {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 40px;
  background-color: rgba(0, 0, 0, 0.0549019608);
}
.main-restaurant h2 {
  margin-bottom: 20px;
}

.main-restaurant__card {
  width: 100%;
  max-width: 500px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.231);
}
.main-restaurant__card figure {
  height: 70%;
}

.main-restaurant__card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  padding: 10px 20px;
}
.main-restaurant__card__info figure i {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
