@keyframes visibility {
  to {
    opacity: 0;
  }
}
@keyframes txt {
  30% {
    opacity: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
  50% {
    transform: rotate(180deg);
    border-top-color: #FF79DA;
    border-bottom-color: #FF79DA;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: #99E2D0;
    border-bottom-color: #99E2D0;
  }
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-size: clamp(2.5rem, 3vw, 3.5rem);
  font-weight: 600;
}

h3 {
  font-size: clamp(2rem, 3vw, 2.5rem);
  font-weight: 900;
}

p, a, i, button {
  font-weight: 500;
  font-size: clamp(1.8rem, 3vw, 2.5rem);
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.loader {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: visibility 1s ease forwards;
}
.loader__txt {
  font-size: 30px;
  letter-spacing: 1px;
  color: #ffffff;
  animation: txt 0.5s linear infinite;
}
.loader__ring {
  position: absolute;
  width: 210px;
  height: 210px;
  border-radius: 50%;
}
.loader__ring::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 10px solid transparent;
  animation: rotate .5s linear infinite;
}

.header-logo {
  height: 80px;
  width: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.591);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-location {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.1019607843);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-location__logo {
  margin-right: 20px;
}

.main-description {
  flex-direction: column;
  padding: 50px 20px 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.0549019608);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-description__text {
  margin: 15px 0 35px;
  font-weight: 300;
}
.main-description__btn {
  padding: 15px;
  border: none;
  border-radius: 30px;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC 80%);
  transition: all 0.3s ease-in-out;
}
.main-description__btn:hover {
  box-shadow: 5px 5px 8px black;
}

.main-process {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px 40px;
}
.main-process h2 {
  align-self: flex-start;
  margin-bottom: 25px;
}

.main-process__step {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  max-width: 691px;
  margin-bottom: 25px;
  padding: 15px 15px 15px 0;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.231);
}
.main-process__step:hover {
  background-color: rgba(146, 86, 220, 0.1333333333);
}
.main-process__step:hover figure i {
  color: #9356DC;
}
.main-process__step figure {
  width: 30px;
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.3882352941);
}
.main-process__step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: clamp(1.5rem, 2vw, 2rem);
  color: white;
  background-color: #9356DC;
}

.main-restaurant {
  padding: 50px 20px 40px;
  background-color: rgba(0, 0, 0, 0.0549019608);
}
.main-restaurant h2 {
  margin-bottom: 10px;
}
.main-restaurant__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 2000px;
}
.main-restaurant__card {
  position: relative;
}
.main-restaurant__card:nth-child(1)::before, .main-restaurant__card:nth-child(2)::before {
  content: "Nouveau";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  padding: 10px 15px;
  color: #1b6150;
  background-color: #99e2d0;
}

.main-restaurant__card {
  width: 100%;
  max-width: 650px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px 0;
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.231);
}
.main-restaurant__card figure {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-restaurant__card p {
  font-weight: 300;
  margin-top: 5px;
}

.card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  padding: 15px 20px;
}
footer {
  padding: 30px 20px 40px;
  color: white;
  background-color: #333;
}
footer h2 {
  margin-bottom: 20px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}

.footer-nav__item {
  margin: 10px 0;
  list-style-type: none;
}
.footer-nav__item figure:nth-child(1),
.footer-nav__item figure:nth-child(2) {
  float: left;
  width: 35px;
}
.footer-nav__item a {
  color: white;
}

@media screen and (min-width: 768px) {
  .main-description__btn {
    padding: 20px;
  }
  .main-process__step {
    justify-content: center;
  }
  .main-process__step figure {
    margin-left: 0;
    margin-right: 30px;
  }
  .main-process__step__number {
    width: 30px;
    height: 30px;
  }
  .main-process h2 {
    align-self: center;
  }
  .main-restaurant h2 {
    text-align: center;
  }
  footer h2 {
    text-align: center;
  }
  .footer-nav {
    display: flex;
    justify-content: center;
  }
  .footer-nav__item {
    margin: 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
