@import "./utils/variables";
@import "./utils/mixins";

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: $text-font;
}

//******************** Utilities

h1,h2{
    font-size: clamp(2.5rem, 3vw, 3.5rem);
    font-weight: 600;
}

h3{
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 900;
}

p, a, i, button{
    font-weight: 500;
    font-size: clamp(1.8rem, 3vw, 2.5rem);
}

a{
    text-decoration: none;
}

img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

//******************** Loader

.loader {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    pointer-events:none;
    background-color: #000000;
    @include flex-center;
    @include animation('visibility 1s ease forwards');
        &__txt{
            font-size: 30px;
            letter-spacing: 1px;
            color: #ffffff;
            @include animation('txt 0.5s linear infinite');
        }
        &__ring{  
            position: absolute;
            width: 210px;
            height: 210px;
            border-radius: 50%;
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    border-radius: 50%;
                    border: 10px solid transparent;
                    @include animation('rotate .5s linear infinite');
                }
        }
}

//******************** Header

.header-logo{
    height: 80px;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.591);
    @include flex-center;
}

//******************** Main

// Section main-location

.main-location{
    height: 70px;
    background-color: #0000001a;
    @include flex-center;
        &__logo{
            margin-right: 20px;
        }
}

// Section main-description

.main-description{
    flex-direction: column;
    padding: 50px 20px 60px;
    text-align: center;
    background-color: #0000000e;
    @include flex-center;
        &__text{
            margin: 15px 0 35px;
            font-weight: 300;
        }
        &__btn{
            // @include button-style;
                padding: 15px;
                border: none;
                border-radius: 30px;
                letter-spacing: 1px;
                cursor: pointer;
                color: white;
                background-image: linear-gradient(to bottom, $color-secondary, $color-primary 80%);
                transition: all 0.3s ease-in-out;
                &:hover{
                    @include button-hover;
                }
        }
}

// Section main-process

.main-process{
    @include flex-center;
    flex-direction: column;
    padding: 50px 20px 40px;
        h2{
            align-self: flex-start;
            margin-bottom: 25px;
        }
}

.main-process__step{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    width: 100%;
    max-width: 691px;
    margin-bottom: 25px;
    padding: 15px 15px 15px 0;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.231);
    // @include flex-center;
        &:hover{
            background-color: #9256dc22;
                figure i{
                    color: $color-primary;
                }
        }
        figure{
            width: 30px;
            margin-left: 30px;
            color: #00000063;
        }
        &__number{
            @include flex-center;
            position: absolute;
            left: -12px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            font-size: clamp(1.5rem, 2vw, 2rem);
            color: white;
            background-color: $color-primary;
        }     
}

// Section main-restaurants

.main-restaurant{
    padding: 50px 20px 40px;
    background-color: #0000000e;
        h2{
            margin-bottom: 10px;
        }
        &__cards{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0 50px;
            margin: 0 auto;
            width: 100%;
            max-width: 2000px;
        }
        &__card{
            position: relative;
        }
        &__card:nth-child(1)::before,
        &__card:nth-child(2)::before{
            content: 'Nouveau';
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 20px;
            right: 20px;
            border-radius: 5px;
            padding: 10px 15px;
            color: #1b6150;
            background-color: #99e2d0;
        }
}

.main-restaurant__card{
    width: 100%;
    max-width: 650px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0;
    color: black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.231);
        figure{
            height: 70%;
            @include flex-center;
        }
        p{
            font-weight: 300;
        }
}

.card__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    padding: 15px 20px;
        figure i:hover{
            // a faire
        }
}

// Footer

footer{
    padding: 30px 20px 40px;
    color: white;
    background-color: #333;
        h2{
            margin-bottom: 20px;
            font-family: $title-font;
            font-weight: 400;
        }
}

.footer-nav__item{
    margin: 10px 0;
    list-style-type: none;
    figure:nth-child(1),
    figure:nth-child(2){
        float: left;
        width: 35px;
    }
    a{
        color: white;
    }
}

// Media queries

@media screen and (min-width: 768px) {

    // Section description

    .main-description{
        &__btn{
            padding: 20px;
        }
    }

    // Section main-process

    .main-process__step{
        justify-content: center; 
            figure{
                margin-left: 0; 
                margin-right: 30px;
            }
            &__number{
                width: 30px;
                height: 30px;
            }     
    }

    .main-process h2{
        align-self:center;
    }

    // Section main-restaurants
    
    .main-restaurant h2{
        text-align: center;
    }

    // Footer

    footer h2{
        text-align: center;
    }

    .footer-nav{
        display: flex;
        justify-content: center;
            &__item{
                margin: 0 20px;
            }
    }
}