@import "./Base/reset";
@import "./utils/variables";
@import "./utils/mixins";
@import "./Base/base";
@import "./utils/animations";
@import "./Components/new-card";
@import './Layout/loader';
@import "./Layout/header";
@import "./Layout/footer";
@import "./Pages/restaurants";

// Section main-location

.main-location{
    height: 70px;
    background-color: #EAEAEA;
    @include flex-center;
    p::before{
        content: '\f3c5';
        font-family: 'FontAwesome';
        margin-right: 2rem;
    }
}

// Section main-description

.main-description{
    flex-direction: column;
    padding: 50px 20px 60px;
    text-align: center;
    background-color: #F6F6F6;
    @include flex-center;
        &__text{
            margin: 15px 0 35px;
            font-weight: 300;
        }
        &__btn{
            @include base-shadow;
            @include button-style;
            @media screen and (min-width:768px) {
                padding: 20px;
            }
            &:hover{
                @include button-hover;       
            }
        }
}

// Section main-process

.main-process{
    @include flex-center;
    flex-direction: column;
    padding: 40px 20px;
        h2{
            align-self: flex-start;
            margin-bottom: 25px;
            @media screen and (min-width: 768px) {
                align-self: center;
            }
        }
}

.main-process__step{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    width: 100%;
    max-width: 691px;
    margin-bottom: 25px;
    padding: 15px 15px 15px 0;
    border-radius: 20px;
    cursor: pointer;
    background-color: #F6F6F6;
    transition: all 0.4s ease-in-out;
    @include base-shadow;
    @media screen and (min-width: 768px) {
        justify-content: center; 
    }
        &:nth-child(2)::after{
            content: '\f3cf';
            @include logo-process;
        }
        &:nth-child(3)::after{
            content: '\f03a';
            @include logo-process;
        }
        &:nth-child(4)::after{
            content: '\f54e';
            @include logo-process;
        }
        &:hover{
            background-color: lighten($color-primary, 35%);
                &:hover::after{
                    color: $color-primary;
                }
        }
        &__number{
            @include flex-center;
            position: absolute;
            left: -12px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            font-size: clamp(1.5rem, 2vw, 2rem);
            color: white;
            background-color: $color-primary;
            @media screen and (min-width: 768px) {
                width: 30px;
                height: 30px;
            }
        }    
}

// Section main-restaurants

.main-restaurant{
    padding: 50px 20px 40px;
    background-color: #F6F6F6;
    h2{
        margin-bottom: 10px;
        @media screen and (min-width: 768px) {
            text-align: center;
        }
    }
    a{
        width: 100%;
        max-width: 650px;
        height: 300px;
        border-radius: 20px;
        overflow: hidden;
        margin: 20px 0;
        color: black;
        @include base-shadow;
            figure{
                height: 70%;
                @include flex-center;
            }
            p{
                font-weight: 300;
            }
    }
    &__cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 50px;
        margin: 0 auto;
        width: 100%;
        max-width: 2000px;
    }
}

.card__info{
    height: 30%;
    padding: 15px 20px;
    p{
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    &__heart{
        @include flex-center;
        width: 30px;
        height: 30px;
        &::before{
            @include heart;
        }
        &::after{
            @include heart;
            @include heart-solid;
            }
        &:hover::before{
            color:transparent;
        }
        &:hover::after{
            font-weight: 900;
            opacity: 1;
        }
    }
}