@import "./Base/reset";
@import "./utils/variables";
@import "./utils/mixins";
@import "./Base/base";
@import './Layout/loader';
@import "./Layout/header";
@import "./Layout/footer";
@import "./Pages/restaurants";

// Section main-location

.main-location{
    height: 70px;
    background-color: #EAEAEA;
    @include flex-center;
        &__logo{
            margin-right: 20px;
        }
}

// Section main-description

.main-description{
    flex-direction: column;
    padding: 50px 20px 60px;
    text-align: center;
    background-color: #F6F6F6;
    @include flex-center;
        &__text{
            margin: 15px 0 35px;
            font-weight: 300;
        }
        &__btn{
            // @include button-style;
                padding: 15px;
                border: none;
                border-radius: 30px;
                letter-spacing: 1px;
                cursor: pointer;
                color: white;
                background : linear-gradient(to bottom, $color-secondary, $color-primary 80%);
                transition: box-shadow 0.3s ease-in-out;
                @include base-shadow;
                &:hover{
                    @include button-hover;
                }
        }
}

// Section main-process

.main-process{
    @include flex-center;
    flex-direction: column;
    padding: 40px 20px;
        h2{
            align-self: flex-start;
            margin-bottom: 25px;
        }
}

.main-process__step{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    width: 100%;
    max-width: 691px;
    margin-bottom: 25px;
    padding: 15px 15px 15px 0;
    border-radius: 20px;
    cursor: pointer;
    background-color: #F6F6F6;
    transition: all 0.3s ease-in-out;
    @include base-shadow;
        i{
            width: 30px;
            margin-left: 30px;
            color: #00000063;
        }
        &:hover{
            background-color: #9256dc22;  
                i{
                    color: $color-primary;
                }   
            }
        &__number{
            @include flex-center;
            position: absolute;
            left: -12px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            font-size: clamp(1.5rem, 2vw, 2rem);
            color: white;
            background-color: $color-primary;
        }     
}

// Section main-restaurants

.main-restaurant{
    padding: 50px 20px 40px;
    background-color: #F6F6F6;
        h2{
            margin-bottom: 10px;
        }
        &__cards{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0 50px;
            margin: 0 auto;
            width: 100%;
            max-width: 2000px;
        }
        &__card:nth-child(1)::before,
        &__card:nth-child(2)::before{
            content: 'Nouveau';
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 20px;
            right: 20px;
            border-radius: 5px;
            padding: 10px 15px;
            color: #1b6150;
            background-color: #99e2d0;
        }
}

.main-restaurant__card{
    position: relative;
    width: 100%;
    max-width: 650px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0;
    color: black;
    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.231);
    @include base-shadow;
        figure{
            height: 70%;
            @include flex-center;
        }
        p{
            font-weight: 300;
            margin-top: 5px;
        }
}

.card__info{
    position: relative;
    height: 30%;
    padding: 15px 20px;
        // &::before{
        //     content: '\f004';
        //     position: absolute;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     right: 20px;
        //     font-size: 3rem;
        //     font-weight: 400;
        //     color: black;
        //     opacity: 1;
        //     font-family: 'Font Awesome 5 Free';
        //     transition: opacity 0.3s ease-in-out;
        // }
        // &::after{
        //     content: '\f004';
        //     position: absolute;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     right: 20px;
        //     font-size: 3rem;
        //     font-weight: 900;
        //     background-clip: text;
        //     -webkit-background-clip: text;
        //     color: transparent;
        //     opacity: 1;
        //     font-family: 'Font Awesome 5 Free';
        //     background : linear-gradient(to bottom, $color-secondary, $color-primary 80%);
        //     transition: all 0.3s ease-in-out;
        // }
        i{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
        }    
        .heart-solid{
            color: transparent;
            background : linear-gradient(to bottom, $color-secondary, $color-primary 80%);
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;;
        }
        .heart-solid:hover{
            opacity: 1;
            transform: translateY(-50%) scale(1.1);
        }
        
}

// Media queries

@media screen and (min-width: 768px) {

    // header

    header{
        height: 80px;
            img{
                width: auto;
            }
    }

    // Section description

    .main-description{
        &__btn{
            padding: 20px;
        }
    }

    // Section main-process

    .main-process__step{
        justify-content: center; 
            i{
                margin-left: 0; 
                margin-right: 30px;
            }
            &__number{
                width: 30px;
                height: 30px;
            }     
    }

    .main-process h2{
        align-self:center;
    }

    // Section main-restaurants
    
    .main-restaurant h2{
        text-align: center;
    }

    // Footer

    footer h2{
        text-align: center;
    }

    .footer-nav{
        display: flex;
        justify-content: center;
            &__item{
                margin: 0 40px;
            }
    }
}