*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './_variables';
@import './_mixins';
@import './_placeholders';

// Loader

.loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #1c1b1b;
    @extend %flex-center;
    @include animation('visibility 8s ease-in-out forwards');
        &__txt{
            font-size: 30px;
            letter-spacing: 1px;
            color: #737373;
            @include animation('txt 2s linear infinite');
        }
        &__ring{  
            position: absolute;
            width: 210px;
            height: 210px;
            border-radius: 50%;
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    border-radius: 50%;
                    border: 10px solid transparent;
                    @include animation('rotate 2s linear infinite');
                }
        }
}