//******************** Import

@import './_variables';
@import './_mixins';
@import './_placeholders';

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

//******************** Utilities

h1,h2,h3{
    font-family: $title-font;
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    font-weight: 900;
}

p, i, button{
    font-family: $text-font;
    font-size: clamp(1.8rem, 4vw, 2.5rem);
}

//******************** Loader

.loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    pointer-events:none;
    background-color: #1c1b1b;
    @extend %flex-center;
    @include animation('visibility 3s ease-in-out forwards');
        &__txt{
            font-size: 30px;
            letter-spacing: 1px;
            color: #000000;
            @include animation('txt 2s linear infinite');
        }
        &__ring{  
            position: absolute;
            width: 210px;
            height: 210px;
            border-radius: 50%;
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    border-radius: 50%;
                    border: 10px solid transparent;
                    @include animation('rotate 1s linear infinite');
                }
        }
}

//******************** Header

.header-logo{
    height: 80px;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.591);
    @extend %flex-center;
}

//******************** Main

// Section main-location

.main-location{
    height: 70px;
    background-color: #0000001a;
    @extend %flex-center;
        &__logo{
            margin-right: 20px;
        }
}

// Section main-description

.main-description{
    @extend %flex-center;
    flex-direction: column;
    padding: 40px 0 50px;
    text-align: center;
    background-color: #0000000e;
        &__text{
            margin: 15px 0 30px;
        }
        &__btn{
            padding: 20px;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            color: white;
            background-image: linear-gradient(to bottom, #FF79DA, #9356DC 80%);
        }
}

// Section main-process

.main-process{
    @extend %flex-center;
    flex-direction: column;
    padding: 50px 20px 40px;
        h2{
            align-self: flex-start;
            margin-bottom: 20px;
        }
}

.main-process__step{
    @extend %flex-center;
    flex-direction: row-reverse;
    position: relative;
    width: 95%;
    max-width: 691px;
    margin-bottom: 20px;
    padding: 15px 0;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.231);
        figure{
            margin-right: 5%;
        }
        &__number{
            @extend %flex-center;
            position: absolute;
            left: -15px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 2rem;
            color: white;
            background-color: $color-primary;
        }
       
}

// Section main-restaurants

.main-restaurants{
    padding: 50px 20px 40px;
    background-color: #0000000e;
}