// Header

header{
    position: relative;
        .header__return::before{
            content: '\f060';
            font-family: 'FontAwesome';
            color: black;
            position: absolute;
            left: 0;
            transform: translateY(-50%);
            left: 5%;
        }
}

.main__banner{
    max-height: 70vh;
    
}

.main__title{
    font-family: "Shrikhand", cursive;
    font-weight: 500;
    text-align: center;
    padding: 30px 20px;
    width: 100%;
    border-radius: 40px 40px 0 0;
    background-color: white;
}

.main__menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 50px;
    position: relative;
    top: -40px;
    &__starter, 
    &__dish, 
    &__dessert{
        background-color: aqua;
        width: 30%;
        border: 1px solid black;
    }
}



