// Header

header{
    position: relative;
        .header__return::before{
            content: '\f060';
            font-family: 'FontAwesome';
            color: #333;
            position: absolute;
            left: 0;
            transform: translateY(-50%);
            left: 5%;
        }
}

.main{
    &__banner{
        max-height: 70vh;
        min-height: 30vh;
    }
    &__menu{
        display: flex;
        flex-direction: column;//
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 40px;
        position: relative;
        top: -50px;
        &__title{
            position: relative;
            font-family: "Shrikhand", cursive;
            font-weight: 500;
            // text-align: center;
            padding: 20px;
            width: 100%;
            border-radius: 30px 30px 0 0;
            background-color: white;
        }
        .heart{
            @include heart;
        }    
        .heart-solid{
            @include heart-solid;
        }
            &__starter, 
            &__dish, 
            &__dessert{
                padding: 10px 20px 40px;
                width: 100%;
            }
            &__btn{
                @include button-style;
                @include base-shadow;
                padding: 15px 40px;
                margin: 0 auto;
                    &:hover{
                        @include button-hover;
                    }
            }
            h3{
                position: relative;
                margin-bottom: 30px;
                padding-left: 10px;
                font-weight: 300;
                text-transform: uppercase;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    width: 10%;
                    height: 4px;
                    background-color: #99E2D0;
                }
            }
    }
}





.meal{
    display: flex;
    @include base-shadow;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    overflow: hidden;
        &__description{
            white-space: nowrap;
            overflow: hidden;
            text-overflow:ellipsis;
            padding: 10px;
            h4{
                overflow: hidden;
                text-overflow:ellipsis;
            }
            p{
                overflow: hidden;
                text-overflow:ellipsis;
                font-weight: 200;
                font-size: clamp(1.5rem, 3vw, 2rem);
            }
        }
        &__price{
            font-weight: 500;
            font-size: clamp(1.5rem, 3vw, 2rem);
            margin-left: auto;
            flex-shrink: 0;
            display: flex;
            align-items: flex-end;
            padding: 10px;
        }
        &__check{
            @include flex-center;
            // margin-right: -70px;
            // width: 70px;
            margin-right: -68px;
            padding: 0 15px;
            background-color: $color-tertiary;
            transition: margin-right 0.4s ease-in-out;
                i{
                    padding: 10px;
                    border-radius: 50%;
                    color: $color-tertiary;
                    font-size: 20px;
                    background-color: #fff;
                    transition: transform 0.4s ease-in-out;
                }
        }
        &:hover &__check{
            margin-right: 0;
        }
        &:hover &__check i{
            transform: rotate(360deg);
        }

}

    
@media screen and (min-width: 1000px) {
    .main__menu{
        flex-direction: row;//
            &__starter, 
            &__dish, 
            &__dessert{
                width: 30%;//
                padding-bottom: 40px;//
            }
            &__title{
                text-align: center;
            }
    }

    .main__menu .heart{
        @include heart;
        right: 30%;
    }    
}





