// Center

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin button-style{
    padding: 20px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: clamp(1.4rem, 3vw, 2.5rem);
    background-image: linear-gradient(to bottom, $color-secondary, $color-primary 80%);
    transition: all 0.3s ease-in-out;
}

@mixin button-hover{
    box-shadow: 5px 5px 5px black;
    opacity: 0.9;
}

@mixin gradient{
    background : linear-gradient(to bottom, $color-secondary, $color-primary 80%);
}

@mixin base-shadow{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.421);
}

// Heart

@mixin heart{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

@mixin heart-solid{
    color: transparent;
    background : linear-gradient(to bottom, $color-secondary, $color-primary 80%);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    cursor: pointer;
    &:hover{
        opacity: 1;
        transform: translateY(-50%) scale(1.1);
    }
}
